{% macro macro(label, locale='en-GB', graph={}, reverseMap={}, showPaths=true, autoselect=true, minLength=2) %}

<div class="form-group">
  <label class="form-label-bold" for="location-select-dropdown">
    {% if locale === 'en-GB' %}
    {{label}}
    {% else %}
    Lleoliad
    {% endif %}
  </label>
  <select class="form-control" id="location-select-dropdown">
    <option value="" disabled selected>
      {% if locale === 'en-GB' %}
      Choose a location
      {% else %}
      Dewiswch leoliad
      {% endif %}
    </option>
    {% for location in locations %}
    <option value="{{location}}">{{location}}</option>
    {% endfor %}
  </select>
</div>

<script src="/public/javascripts/details.polyfill.js"></script>
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/govuk/selection-buttons.js"></script>
  <script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
  <script src="/public/javascripts/govuk/show-hide-content.js"></script>
  <script src="/public/javascripts/application.js"></script>
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->

  <script src="https://unpkg.com/ua-parser-js@0.7.12"></script>
  <script src="/public/javascripts/bloodhound.js"></script>
  <script src="https://unpkg.com/accessible-typeahead@0.3.1"></script>
  <link rel="stylesheet" href="https://unpkg.com/accessible-typeahead@0.3.1/examples/styled.css">
  <script src="https://unpkg.com/lodash@4.17.4" type="text/javascript"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

  <script type="text/javascript">
    var preferredLocale = {{ locale | dump | safe }}
    var graph = {{ graph | dump | safe }}
    var reverseMap = {{ reverseMap | dump | safe }}
  </script>

  <script type="text/babel">
    $(document).ready(function () {
      var preferredLocale = 'en-GB'
      var showPaths = {{ showPaths }}

      function isCanonicalNode (node) {
        return node.meta.canonical
      }

      function presentableName (node, locale) {
        var requestedName = node['names'][locale]
        var fallback = Object.keys(node['names']).map(k => node['names'][k])[0]
        return requestedName || fallback
      }

      // Given a starting node and the locale with which it was reached, this is a
      // recursive function that will search the graph to find the canonical node(s).
      function findCanonicalNodeWithPath (node, locale, path) {
        if (locale === preferredLocale) {
          if (isCanonicalNode(node)) {
            // We found it.
            return [{ node, locale: preferredLocale, path }]
          } else {
            // Get all the linked nodes.
            var linkedNodes = node.edges.from.map(nodeFromCurie => graph[nodeFromCurie])
            // Find the canonical nodes for each one of them.
            return linkedNodes.reduce((canonicalNodes, linkedNode) =>{
              return canonicalNodes.concat(findCanonicalNodeWithPath(
                linkedNode,
                preferredLocale,
                path.concat([{ node, locale: preferredLocale }])
              ))
            }, [])
          }
        } else {
          // If not the preferredLocale, add a hop to the path while we switch
          // to the preferredLocale.
          return findCanonicalNodeWithPath(
            node,
            preferredLocale,
            path.concat([{ node, locale }])
          )
        }
      }

      function indexOfLowerCase (str, prefix) {
        return str.toLowerCase().indexOf(prefix.toLowerCase())
      }

      // Takes a canonical node with the path to reach it, and the typed in query.
      // Returns the same node and path, with added weight based on a number of criteria.
      // Higher weight means higher priority, so it should be ranked higher in the list.
      function addWeight (canonicalNodeWithPath, query) {
        const cnwp = canonicalNodeWithPath
        cnwp.weight = 1

        const name = presentableName(cnwp.node, preferredLocale)
        const isUk = name === 'United Kingdom'
        cnwp.weight += isUk ? 100000 : 0

        const isExactMatch = name.toLowerCase() === query.toLowerCase()
        cnwp.weight += isExactMatch ? 10000 : 0

        const synonymIsExactMatch = cnwp.path
          .map(pathNode => presentableName(pathNode.node, pathNode.locale))
          .map(nameInPath => nameInPath.toLowerCase())
          .indexOf(query.toLowerCase()) !== -1
        cnwp.weight += synonymIsExactMatch ? 1000 : 0

        const indexOfQuery = indexOfLowerCase(name, query)
        const canonicalNameStartsWithQuery = indexOfQuery === 0
        cnwp.weight += canonicalNameStartsWithQuery ? 100 : 0

        const canonicalNameContainsQuery = indexOfQuery > 0
        cnwp.weight += canonicalNameContainsQuery ? 10 : 0

        // Longer paths mean canonical node is further from matched synonym, so rank it lower.
        cnwp.weight += cnwp.path.length * -1

        return cnwp
      }

      function byWeightAndThenAlphabetically (a, b) {
        const aName = presentableName(a.node, preferredLocale)
        const bName = presentableName(b.node, preferredLocale)
        return (a.weight > b.weight)
          ? -1
          : (a.weight < b.weight)
            ? 1
            // Weights are equal, sort alphabetically by name.
            : (aName < bName)
              ? -1
              : (aName > bName)
                ? 1
                : 0
      }

      // Bloodhound gives us back a list of results that includes synonyms, typos,
      // endonyms and other things we don't want the user to see.
      // This function transforms those into a list of stable canonical country names.
      function presentResults (rawResults, query) {
        var nodesWithLocales = rawResults.map(r => reverseMap[r])

        var canonicalNodesWithPaths = nodesWithLocales.reduce((canonicalNodes, nwl) => {
          return canonicalNodes.concat(findCanonicalNodeWithPath(nwl.node, nwl.locale, []))
        }, [])

        const canonicalNodesWithPathsAndWeights = canonicalNodesWithPaths.map(cnwp => addWeight(cnwp, query))

        canonicalNodesWithPathsAndWeights.sort(byWeightAndThenAlphabetically)

        const uniqueNodesWithPathsAndWeights = _.uniqBy(canonicalNodesWithPathsAndWeights, (cnwp) => {
          return presentableName(cnwp.node, preferredLocale)
        })

        var presentableNodes = uniqueNodesWithPathsAndWeights.map(cnwp => {
          var canonicalName = presentableName(cnwp.node, preferredLocale)
          var pathToName = ''
          if (showPaths && cnwp.path.length) {
            var stableNamesInPath = cnwp.path
              .filter(pathNode => pathNode.node.meta['stable-name'])
              .map(pathNode => presentableName(pathNode.node, pathNode.locale))
            var lastNode = stableNamesInPath.pop()
            if (lastNode) {
              pathToName = ` (${lastNode})`
            }
          }
          return `${canonicalName}${pathToName}`
        })

        return presentableNodes
      }

      // The keys of the reverseMap represent all the names/synonyms/endonyms, so
      // we use them as the seed data for Bloodhound.
      var seed = Object.keys(reverseMap)
      var countries = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.nonword,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: seed
      })

      // Find the existing select and enhance it to the typeahead.
      var select = $('#location-select-dropdown')
      var container = $('<div class="form-control-1-2"></div>')
      select.after(container)

      var id = 'location-select-box'

      AccessibleTypeahead({
        autoselect: {{ autoselect }},
        element: container[0],
        id: id,
        minLength: {{ minLength }},
        source: (query, syncResults) => {
          const showNoResults = query.length <= 1
          if (showNoResults) {
            syncResults([])
          } else {
            query = query.replace(/\./g,'')
            countries.search(query, (rawResults) => {
              var presentableResults = presentResults(rawResults, query)

              syncResults(presentableResults)
            })
          }
        }
      })

      var label = $('[for="location-select-dropdown"]')
      label.attr('for', id)

      select.hide()
    })
  </script>
{% endmacro %}
