{% extends "layout.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <form action="/docs/tutorials-and-examples" method="post" class="form">

    <h1 class="form-title heading-large">
      Country picker
    </h1>

    <!-- Country picker -->
     <div class="form-group">
      <label class="form-label-bold" for="country-select-box">Country</label>
      <input type="text" class="form-control" id="country-find" placeholder="Country" onkeyup="searchCountry()">
      <br>
      <br>
      <select class="form-control" id="country-select-box">
        <option>Select...</option>
      </select>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

  <script type="text/javascript">
    //(function () {
      'use strict'

      function loadJSON (path, success, error) {
        var xhr = new XMLHttpRequest()
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
              if (success) {
                success(JSON.parse(xhr.responseText))
              }
            } else {
              if (error) {
                error(xhr)
              }
            }
          }
        }
        xhr.open('GET', path, true)
        xhr.send()
      }

      var countryOptions = '',
          countryInput = document.getElementById('country-find'),
          countrySelect = document.getElementById('country-select-box')

      function searchCountry () {
        var input = countryInput.value.toLowerCase(),
            output = countrySelect.options
        for (var i = 0; i < output.length; i++) {
          if (output[i].value.indexOf(input) === 0) {
            output[i].selected = true
          }
        }
      }

      loadJSON('https://country.register.gov.uk/records.json', function (data) {
        var countries = Object.keys(data).map(function (k) {
          return data[k]
        })

        for (var i = 0; i < countries.length; i++) {
          countryOptions += '<option value="' + countries[i]['official-name'].toLowerCase() + '">' + countries[i]['official-name'] + '</option>'
        }

        countrySelect.innerHTML = countryOptions
      }, function (xhr) {
        console.error(xhr)
      })
    //})(window)

  </script>

</main>
{% endblock %}
