{% extends "layout.html" %}

{% block page_title %}
  Country Picker Example 3
{% endblock %}

{% block content %}
<main id="content" role="main">

  <style>
    .typeahead,
    .tt-query,
    .tt-hint {
      font-size: 19px;
      line-height: 1.25;
      font-weight: 300;
      text-transform: none;
      border: 1px solid #bbb;
      margin: 0;
      padding: 0.5em;
    }

    .tt-hint {
      display: none;
    }

    .tt-menu {
      padding: 0;
      background-color: #fff;
      border: 1px solid #ccc;
      width: 100%;
    }

    .tt-suggestion {
      padding: 0.5em;
      font-size: 19px;
      line-height: 24px;
    }

    .tt-suggestion p {
      margin: 0;
    }

    .tt-suggestion.tt-cursor {
      color: #fff;
      background-color: #0097cf;
    }

    .twitter-typeahead {
      width: 100%;
    }

    .validation-wrapper .optional-section .twitter-typeahead input {
      margin-bottom: 0;
    }
  </style>

  <form action="/docs/tutorials-and-examples" method="post" class="form">

    <h1 class="form-title heading-large">
      Country picker
    </h1>

    <!-- Country picker -->
    <div class="form-group">
      <label class="form-label-bold" for="country-select-box">Country</label>
      <input type="text" class="form-control" id="country-select-box" placeholder="Country">
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

    <h2 class="heading-large">Debugging options</h2>

    <div class="form-group">
      <label class="form-label" for="country-select-locale">Preferred locale (will present options in this locale, where translation is available)</label>
      <select class="form-control" id="country-select-locale">
        <option value="en-GB" selected>English</option>
        <option value="cy">Welsh</option>
      </select>
    </div>

    <div class="form-group">
      <label class="block-label selection-button-checkbox" for="country-show-paths">
        <input id="country-show-paths" name="show-paths" type="checkbox" value="show-paths" checked>
        Show paths (useful for debugging, will cause duplicate countries to appear where more than one path exists)
      </label>
    </div>

  </form>

</main>
{% endblock %}

{% block body_end %}
  <!-- Javascript -->
  <script src="/public/javascripts/details.polyfill.js"></script>
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/govuk/selection-buttons.js"></script>
  <script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
  <script src="/public/javascripts/govuk/show-hide-content.js"></script>
  <script src="/public/javascripts/application.js"></script>
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->

  <script src="/public/typeahead.bundle.min.js"></script>
  <script src="https://unpkg.com/lodash@4.17.4" type="text/javascript"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      var preferredLocale = 'en-GB'
      var showPaths = true

      $.get('/public/data/dummy-picker-data-1.json', (graph) => {
        // This is a map that takes a name and returns its node and locale.
        // Examples:
        //   reverseMap['United Kingdom']   === { node: {country:gb}, locale: 'en-GB' }
        //   reverseMap['uk']               === { node: {synonym:gb:gb}, locale: 'en-GB' }
        //   reverseMap['Northern Ireland'] === { node: {uk:nir}, locale: 'en-GB' }
        //   reverseMap['Gogledd Iwerddon'] === { node: {uk:nir}, locale: 'cy' }
        var reverseMap = Object.keys(graph)
          .reduce((revMap, curie) => {
            var node = graph[curie]
            Object.keys(node.names).forEach(locale => {
              var name = node.names[locale]
              // HACK to prevent overriding for example Antarctica,
              // where the en-GB and cy names are identical, and we want
              // en-GB to stay on top.
              var isntDefinedOrLocaleIsEnGb = !revMap[name] || locale === preferredLocale
              if (isntDefinedOrLocaleIsEnGb) {
                revMap[name] = { node, locale }
              }
            })
            return revMap
          }, {})

        function isCanonicalNode (node) {
          return node.meta.canonical
        }

        function presentableName (node, locale) {
          var requestedName = node['names'][locale]
          var fallback = Object.values(node['names'])[0]
          return requestedName || fallback
        }

        // Given a starting node and the locale with which it was reached, this is a
        // recursive function that will search the graph to find the canonical node(s).
        function findCanonicalNodeWithPath (node, locale, path) {
          if (locale === preferredLocale) {
            if (isCanonicalNode(node)) {
              // We found it.
              return [{ node, locale: preferredLocale, path }]
            } else {
              // Get all the linked nodes.
              var linkedNodes = node.edges.from.map(nodeFromCurie => graph[nodeFromCurie])
              // Find the canonical nodes for each one of them.
              return linkedNodes.reduce((canonicalNodes, linkedNode) =>{
                return canonicalNodes.concat(findCanonicalNodeWithPath(
                  linkedNode,
                  preferredLocale,
                  path.concat([{ node, locale: preferredLocale }])
                ))
              }, [])
            }
          } else {
            // If not the preferredLocale, add a hop to the path while we switch
            // to the preferredLocale.
            return findCanonicalNodeWithPath(
              node,
              preferredLocale,
              path.concat([{ node, locale }])
            )
          }
        }

        // Bloodhound gives us back a list of results that includes synonyms, typos,
        // endonyms and other things we don't want the user to see.
        // This function transforms those into a list of stable canonical country names.
        function presentResults (rawResults) {
          var nodesWithLocales = rawResults.map(r => reverseMap[r])

          var canonicalNodesWithPaths = nodesWithLocales.reduce((canonicalNodes, nwl) => {
            return canonicalNodes.concat(findCanonicalNodeWithPath(nwl.node, nwl.locale, []))
          }, [])

          var presentableNodes = _.uniq(
            canonicalNodesWithPaths.map(cnwp => {
              var canonicalName = presentableName(cnwp.node, preferredLocale)
              var pathToName = ''
              if (showPaths && cnwp.path.length) {
                var stableNamesInPath = cnwp.path.map(pathNode => presentableName(pathNode.node, pathNode.locale))
                pathToName = ` (path: ${stableNamesInPath.join(' > ')})`
              }
              return `${canonicalName}${pathToName}`
            })
          )

          return presentableNodes
        }

        // The keys of the reverseMap represent all the names/synonyms/endonyms, so
        // we use them as the seed data for Bloodhound.
        var seed = Object.keys(reverseMap)
        var countries = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.nonword,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: seed
        })

        $('#country-select-box').typeahead({
          hint: false
        }, {
          source: (query, syncResults) => {
            countries.search(query, (rawResults) => {
              var presentableResults = presentResults(rawResults)
              syncResults(presentableResults)
            })
          }
        })

        $('#country-select-locale').on('change', (evt) => {
          preferredLocale = evt.target.value
        })

        $('#country-show-paths').on('change', (evt) => {
          showPaths = evt.target.checked
        })
      })
    })
  </script>
{% endblock %}
