{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Country Picker Prototypes
      </h1>

      <p>These are country picker widgets that read data from the <a href="https://country.register.gov.uk/" target="_blank">country register</a>.</p>

      <h2 class="heading-medium"><a href="/country-picker-1">Example 1: Plain JavaScript + plain register</a></h2>

      <p>
        This example uses plain JavaScript to query a public register, and populates a
        <code>&lt;select&gt;</code> element. It demonstrates one of the simplest ways to query a
        register and present the results to the user.
      </p>

      <h2 class="heading-medium"><a href="/country-picker-2">Example 2: jQuery Typeahead + plain register</a></h2>

      <p>
        This example uses the <a href="https://github.com/corejavascript/typeahead.js" target="_blank">corejs-typeahead</a> jQuery plugin and populates it using
        the same data from Example 1. It demonstrates one way to use an off the
        shelf component with a public register.
      </p>

      <h2 class="heading-medium"><a href="/country-picker-3">Example 3: jQuery Typeahead + register data file</a></h2>

      <p>Coming soon.</p>

    </div>
  </div>
</main>

{% endblock %}
