{% extends "layout.html" %}

{% block page_title %}
Location Picker Prototypes
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Location Picker Prototypes
      </h1>

      <p>
        These are location picker widgets that read data from the <a href="https://country.register.gov.uk/" target="_blank">country register</a>
        and the <a href="https://territory.register.gov.uk/" target="_blank">territory register</a>.
      </p>

      <h2 class="heading-large">Demos</h2>

      <h2 class="heading-medium"><a href="/demo-picker">Demo 1: basic picker</a></h2>

      <h2 class="heading-medium"><a href="/passport/start">Demo 2: passport details</a></h2>

      <h2 class="heading-medium"><a href="/country-of-birth/start">Demo 3: country of birth</a></h2>

      <p>
       A location picker is used to collect country of birth as part of passport details.
      </p>

      <h2 class="heading-large">Code</h2>

      Code for the location picker can be found <a href="https://github.com/openregister/picker-prototypes">on Github</a>.

      <h2 class="heading-large">Development versions</h2>

      <h2 class="heading-medium"><a href="/country-picker-1">Example 1: Plain JavaScript + plain register</a></h2>

      <p>
        This example uses plain JavaScript to query a public register, and populates a
        <code>&lt;select&gt;</code> element. It demonstrates one of the simplest ways to query a
        register and present the results to the user.
      </p>

      <h2 class="heading-medium"><a href="/country-picker-2">Example 2: jQuery Typeahead + plain register</a></h2>

      <p>
        This example uses the <a href="https://github.com/corejavascript/typeahead.js" target="_blank">corejs-typeahead</a> jQuery plugin and populates it using
        the same data from Example 1. It demonstrates one way to use an off the
        shelf component with a public register.
      </p>

      <h2 class="heading-medium"><a href="/country-picker-3">Example 3: jQuery Typeahead + register data file</a></h2>

      <p>
        This example uses the <a href="https://github.com/corejavascript/typeahead.js" target="_blank">corejs-typeahead</a> jQuery plugin and populates it using
        a handmade data file, based off of register data. It augments the typeahead
        plugin and allows it to handle synonyms, translations, endonyms, and
        territory relationships.
      </p>

      <h2 class="heading-medium"><a href="/country-picker-4">Example 4: jQuery Typeahead + fixes + full register data v1</a></h2>

      <p>
        This example builds upon the previous one by adding progressive
        enhancement and styling tweaks, both inspired by
        <a
        href="https://github.com/dwpdigitaltech/hrt-prototype/blob/master/app/assets/javascripts/modules/country-autocomplete.js"
        target="_blank"
        >DWP's implementation</a>. It also moves part of the initial data processing logic
        server-side, has separate pages for English and Welsh, is compatible with more
        browsers, has some minor usability fixes, and uses a much larger dataset.
      </p>

      <h2 class="heading-medium"><a href="/location-picker-5">Example 5: Custom Typeahead v0.1.2 + full register data v2</a></h2>

      <p>
        This example uses a version of a <a href="https://github.com/alphagov/accessible-typeahead" target="_blank">custom built typeahead that focuses on accessibility</a>.
        The styling is almost completely recycled from example 4. The
        data is an enhanced version of the data from example 4, with additional
        territories and synonyms.
      </p>

      <h2 class="heading-medium"><a href="/location-picker-6">Example 6: Custom Typeahead v0.2.0 + full register data v2 + weighting</a></h2>

      <p>
        TODO
      </p>

    </div>
  </div>
</main>

{% endblock %}
